.body {

    width: 100%;
}

.products-container {
    display: flex;
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
}

.id-product {
    display: flex;
    flex-direction: column;
    
}

.product-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 300px;
    margin: 10px;
    border: 2px solid rgb(199, 197, 197);
    border-radius: 7px;
   
    
}

.items {
   
    padding: 10px;
    height: 200px;
    
}

.product-price-section
{
    display: flex;
    margin-top: 25px;
    padding: 10px;

}

.item-actions-buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.product-title {
display: flex;
flex-direction: column;
flex-wrap: wrap;
font-size: 25px;

}

.add-buttons
{
    display: flex;

    padding: 20px;
    
}

.button-container {
    display: flex;
    margin-right: 42px;
    justify-content: space-between;
    width: 100%;
   margin-top: 55px;
}

.button {
    display: flex ;
    border: none;
    color: white;
    padding: 10px;
    width: 120px;
    background-color: rgb(39, 39, 184);
    border-radius: 7px;
    justify-content: center;

}

.edit-button {
   background-color:  rgb(39, 39, 184);
   color: white;
   border-radius: 5px;
   border: none;
   padding: 5px;
}

.delete-button {

color: red;
padding: 5px;
border: none;
border: 1px solid red;
border-radius: 5px;
}

.search__button {
    border: none;
    color: white;
    padding: 8px;
    border-top-right-radius: 5px;
    background-color: rgb(8, 99, 204);
}

.search__input {

    outline: none;
    height: 40px;
    width: 250px;
    margin-left: 11px;
}

@media (max-width: 768px) {
    .product-cards {
      display: flex;
      flex-direction: column;
    }

    .item-actions-buttons {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        gap: 150px;
        width: 300px;
        
    }

  

   
    
  }
  
  @media (max-width: 576px) {
    .product-cards {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    .product-cards > div {
      width: 65%;
      margin-bottom: 1rem;
    }

    .item-actions-buttons {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        width: 100%;
    }

   
    
  }



